* {
    margin: 0px;
    padding: 0px;
}
img{
    width: 100%;
}
li, p, h2, ul, li{
    font-family: arial;
    padding: 0%;
    margin: 0%;
}

header{
    background: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    z-index: 1;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    font-size: 30px;
    padding: -10px;
}
header h3{
    padding: 9px 18px;
    display: inline-block;
    border: white solid 3px;
    font-family: tahoma;
}

.banner{
    position: relative;
}
.banner .welcome{
    padding: 20px;
    background-color: whitesmoke;
    background: rgba(255, 254, 254, 0.513);
    position: absolute;
    top: 300px;
    width: 100%;
    text-align: center;
    font-size: 26px;
}
div.welcome h1{
    padding: 20px 20px;
    border: black solid 3px;
    display: inline-block;
}
.banner h1{
    font-family: arial;
}
.banner .welcome span{
    font-size: 56px;
    font-style: italic;
}
.banner img{
    max-width: 100%;
}
#home{
    display: none;
    color: white;
}
nav {
    font-size: 30px; 
    position: sticky;
    top: 133px;
    white-space: nowrap;
}
nav ul{
    background-color: honeydew;
    margin-left: 0px;
}
  
nav li{
    display: inline-block;
    width: 18.4%;
    text-align: center;
    border: grey solid 4px;
    padding: 10px 10px;
    background-color:black;
}
nav li a{
    text-decoration: none;
    color: white;
}
nav li:hover{
    background-color: rgb(3, 148, 192);
}
nav.menu{
    margin: 0%;
    margin-top: -70px;
}

section.main-page{
    font-size: 24px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

section.main-page p{
    text-align: left;
    line-height: 2em;
    color: rgb(95, 94, 94);
}
div#about{
    margin-bottom: 100px;
}
section.main-page h2{
    color: rgb(3, 148, 192);
    text-decoration: underline;
    padding: 50px;
}
footer{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
 }

 @media (max-width: 1600px) {
     nav li{
        width: 17.4%;
     }
@media (max-width: 1000px) {
    nav li{
       display: block;
       font-size: 20px;
       width: 100%;
    }   
    nav ul{
        margin-left: 200px;
        margin-right: 200px;
        margin-top: -130px;
    }
    nav {
        position: relative;
    }
    div#about{
        margin-top: 150px;
    }
    section.main-page{
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
}
@media (max-width: 900px){
    #home{
        display: block;
    }
    #submenu{
        display: none;
    }
    .menu li:hover #submenu{
            display: block;
        }
    .banner .welcome{
        padding: 10px;
        top: 100px;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    .banner .welcome span{
        font-size: 40px;
        font-style: italic;
    }
    nav ul{
        margin-left: 100px;
        margin-right: 100px;
    }
    h2{
        font-size: 28px;
    }
    div#about{
        margin-bottom: 50px;
    }
    p{
        font-size: 18px;
    }
}


