

.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.home{
    font-size: 20px;
    background-color: rgb(175, 172, 172);
}
.banner h1{
    color: white;
    padding: 30px;
    position: absolute;
    top: 200px;
    font-size: 70px;
}

.collection img{
    max-width: 400px;
    max-height: 230px;
}
.collection button{
    background-color: rgb(75, 197, 235);
    padding: 10px;
    font-size: 20px;
    border: white;
    border-radius: 10px;
}
.collection {
    display: grid;
    grid-template-rows: 700px 700px;
    grid-template-columns: 400px 400px 400px;
}
.collection div{
    padding: 40px;
}
